Django==2.2.10
django-macaddress==1.5.0
djangorestframework==3.9.3
django-cors-headers==3.1.0
django-environ==0.4.5
django-allauth==0.39.1
django-leaflet
django-allauth-fragdenstaat
djangorestframework-api-key==1.4.1
django-preferences==1.0.0
psycopg2
