Django==3.1.2
django-macaddress==1.7.0
djangorestframework==3.12.1
django-cors-headers==3.5.0
django-environ==0.4.5
django-allauth==0.43.0
django-leaflet==0.27.1
django-allauth-fragdenstaat
djangorestframework-api-key==2.0.0
django-preferences==1.0.0
requests==2.24.0
sentry-sdk==0.19.1
psycopg2
