Django==2.2.13
django-macaddress==1.6.0
djangorestframework==3.9.3
django-cors-headers==3.1.0
django-environ==0.4.5
django-allauth==0.42.0
django-leaflet
django-allauth-fragdenstaat
djangorestframework-api-key==1.4.1
django-preferences==1.0.0
sentry-sdk==0.14.4
psycopg2
