{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_list humanize %}

{% block field_sets %}
<fieldset class="module aligned {{ fieldset.classes }}">
  <div class="form-row field-content_type">
    <div>
      <label>Log Entry:</label>
      <div class="readonly">{{ original.display }}</div>
    </div>
  </div>
  <div class="form-row field-content_type">
    <div>
      <label>Happened at:</label>
      <div class="readonly"><time datetime="{{ original.timestamp | date:'c' }}">{{ original.timestamp }}</time></div>
    </div>
  </div>
</fieldset>
{% endblock %}
